<div class="Row">
    <center><h1>Enchant Zeta SpellCraft </h1></center>
    <center><h2>Users NFT Vanilla</h2></center>
</div>
<nav class="navbar navbar-light bg-dark">
    <a style="text-decoration: none;" href="/"> Home </a>
    <a style="text-decoration: none;" href="/Enchanters"> Enchanters </a>
    <a style="text-decoration: none;" href="/NFT"> NFT Spell Minting </a>
    <a style="text-decoration: none;" href="/Token"> Token Tests </a>
</nav>